
.page {
  display: flex;          /* Ativa Flexbox */
  justify-content: center; /* Alinha horizontal */
  align-items: center;    /* Alinha vertical */
  background-color: lightblue;
}

.text {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 10px;
  font-family: "Lucida Console";
}


